*.tfstate
*.tfstate*
.terraform/
.terraform*
credentials.pkr.hcl
credentials.auto.tfvars
vm_vars.auto.tfvars
ansible/ansible-venv
*.iso
venv
TODO.md
packer/windows-10/files/office_config.xml
packer/*/files/iso/*.iso
*.auto.pkrvars.hcl