[Unit]
Description=Tcpreplay of decrypted traffic from PolarProxy
After=PolarProxy.service
PartOf=PolarProxy.service

[Service]
Type=simple
ExecStart=/bin/sh -c 'nc localhost 57102 | tcpreplay -i decrypted -t -'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target