proxmox_api_url = "https://0.0.0.0:8006/api2/json"  # Your Proxmox IP Address
## IF not using Hashicorp Vault
proxmox_api_token_id = "packer@pve!packer"  # API Token ID
proxmox_api_token_secret = "your-api-token-secret"
splunk_admin_password = "changM3!" # Initial Splunk Admin Password
## IF using Hashicorp Vault
proxmox_vault_root = "" # Path to secrets, default: secrets/data/proxmox/token
proxmox_api_token_id = "" # Key for token id, default: id
proxmox_api_token_secret = "" # Key for token secret, default: secret
splunk_vault_root= "" # Path to secrets for default splunk password, default: secrets/data/splunk
splunk_admin_password = "" # Key for splunk defualt password, default: key
vault_address = "http://0.0.0.0:8200" # Your Hashicorp Vault Server