output {
    elasticsearch {
        hosts => ["https://localhost:9200"]
        index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
        cacert => "/opt/elasticsearch/config/certs/ca/ca.crt"
        user => "l"
        password => "{{ lookup('community.hashi_vault.vault_kv2_get', 'elastic', engine_mount_point='secrets')['secret']['logstash'] }}"
        ilm_enabled => false
        "action" => "create"
    }
}