output {
    http {
        content_type => "application/json"
        http_method => "post"
        url => "http://127.0.0.1:8088/services/collector/raw?host=%{[host][hostname]}&source=%{[winlog][provider_name]}"
        headers => ["Authorization", "Splunk {{ (hostname + 'winlogbeat') | to_uuid }}"]
    }
}